/* Custom CSS for the Register page */
.container {
  background-color: #f5f5f5; /* Soft gray background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.form-label {
  color: #333; /* Dark gray label text */
}

.form-control {
  background-color: #fff; /* White input background */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
  border-color: #6c757d; /* Dark gray border when focused */
  box-shadow: 0 0 5px rgba(108, 117, 125, 0.5); /* Soft shadow when focused */
}

.btn {
  background-color: #545b61; /* Soft grayish-blue button color */
  color: #fff; /* White text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #495057; /* Darker grayish-blue on hover */
  color: white;
}

.editBtn {
  background-color: #0d6efd;
  color: #fff; /* White text color */
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.editBtn:hover {
  background-color: #0a57c9; /* Darker grayish-blue on hover */
  color: white;
}

.delBtn:hover {
  background-color: #c10202; /* Darker grayish-blue on hover */
  color: white;
}

.delBtn {
  background-color: red;
  color: #fff; /* White text color */
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.modalTable {
  margin: 10px 20px 0 0;
}

.product-link {
  text-decoration: none !important;
  color: black !important;
}

.addToCartBtn{
  border: 1px black solid;
  background-color: #ffffff;
  color: black
}
.addToCartBtn:hover{
  background-color: #dddddd;
  color: black
}

.moreDetailBtn{
  background-color: #1c1c1c;
}

.moreDetailBtn:hover{
  background-color: #353535;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  justify-content: center;
}

.card-container {
  max-width: 23rem;
  width: 100%;
}

.row {
  max-width: calc(100vw - 20px);
  overflow-x: hidden;
}
